
.hero{
    background-image:url(https://th.bing.com/th/id/R.bf1a6eefef9d14a2c22bdb78ddaa6fe1?rik=dLDI7RjB8Au9ig&riu=http%3a%2f%2fwww.pptbackgrounds.org%2fuploads%2fblue-technology-powerpoint-templates.jpg&ehk=4RVskknYq2dr0iLHgVSHLDvxikoKqKoH5loIpY4U02Q%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
    background-repeat: no-repeat;
}
nav.navbar {
    height: 6rem !important;
    box-shadow: 0 1px 3px 0 rgba(240, 208, 69, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
    
}

#title{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.navbar-item img{
    max-height: 100%;
    
}
#fonts {
    font-size: 22px;
}
.hug {
    margin-top: -3em;
    
}

.table-id {
    width: 10%;
}

.table-title {
    width: auto;
}

.table-edit {
    width: 6%;
}

.table-delete {
    width: 6%;
}

.hero-body-neg {
    margin-top: -5em;
}

.delete-comment {
    text-decoration: underline;
}

.delete-comment:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1025px) {
    .navbar-item img {
        max-height: 3em;
    }
}
@media screen and (max-width:575px) {
    #title{
        font-size: 25px;
        color: rgb(10, 88, 81);
    }
}